<div class="enter-screen" *ngIf="showSplash">
  <div class="center-screen m-auto h-auto">
    <div class="row">
      <h4 class="m-auto">STEEZ MCGEE</h4>
    </div>
    <div class="row">
      <img class="m-auto" src="../assets/steez-lemon.png" style="height: 225px;">
    </div>
    <div class="row">
      <button type="button" class="btn m-auto" (click)="onEnterClicked()">ENTER</button>
    </div>
  </div>
</div>

<div class="bg-dark" *ngIf="!showSplash">
  <app-navbar></app-navbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>