<!-- Footer -->
<footer class="container page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Tell us what you think!</h5>
        <div class="input-group">
          <input type="text" class="form-control bg-dark" aria-label="Default"
            aria-describedby="inputGroup-sizing-default" placeholder="Type here...">

          <div class="input-group-append">
            <button type="button" class="btn steez-yellow-text float-right">Send</button>

          </div>
        </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Inquiries</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Make me a pin</a>
          </li>
          <li>
            <a href="#!">Make me a sticker</a>
          </li>
          <li>
            <a href="#!">Lets Collab</a>
          </li>
          <li>
            <a href="#!">Give me ideas</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Social</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Contact Us</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->